*{
  padding: 0;
  margin: 0;
}
.body{

  width: 100%;
  height: 100%;
}

.app-container { /* Style the container */
  display: flex;
  flex-direction: column; /* Stack navbar and hero header vertically */
  /* background-color: #270C03; */

  background-image: url('./assets/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


