/* HeroHeader.css */
.hero-header {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 100px 0;
    position: relative;
}

.hero-header::before {
    content: "";
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 90%; /* Increased max-width for better responsiveness */
    margin: 0 auto;
    padding: 0 20px;
    display: flex; /* Enable flexbox for layout */
    align-items: center; /* Vertically align items */
}

.hero-text { /* Container for the text content */
    flex: 1; /* Allow text to take up available space */
    margin-right: 20px; /* Add spacing between text and image */
}
/* @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap'); */


    

.hero-content h1 {
    font-size: 220px;
    margin-bottom: -10px;
    margin-top: -40px;
    font-family: "Clicker Script", serif;
    font-weight: 400;
    font-style: normal;
    
}

.top-p{

    font-size: 15px;
    line-height: 25px;
    margin-top: -50px; /* Adjust the margin to position top-p closer to h1 */
    text-align: justify; /* Justify the text */
    font-family: "Roboto", serif;
    font-weight: 300;
    color: rgb(224, 224, 224);
    max-width: 527px;
    opacity: 0.9;
    margin-left: 20px;
}

.hero-content p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: justify; /* Justify the text */
    font-family: "Roboto", serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    max-width: 527px;
    opacity: 0.9;
}

.order-now {
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-style: normal;
    cursor: pointer;
    width: 110;
    height: 30;
    transition: background-color 0.3s ease;
}

.order-now:hover {
    background-color: #d49a0f;
}

.rotatingCoffee {
    width: 450px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    animation: rotate 30s linear infinite; /* Apply rotation animation */
    flex-shrink: 0; /* Prevent image from shrinking */
    margin-right: 35px;
    transition: transform 0.5s ease; /* Smooth transition for hover effects */
    margin-top: -30px;
    
}

.rotatingCoffee:hover {
    transform: scale(1.1) rotate(360deg); /* Combine zoom and maintain rotation */
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}