
.coffee-items{
    margin-top: 10px;
    
    padding-bottom: 40px;
    padding-top: -20px;

}


.coffee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding-inline: 100px; /* Optional padding */
    
    
}
